<p id="notice"><%= notice %></p>

<h1 class = "skyblue">Incoming Cash</h1>
<br>
<%# will_paginate @cashes %>

<div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @cashes %>
    </div>
      <%= will_paginate @cashes, :container => true %>
</div> 


<br>
<table>
  <thead>
    <tr>
      <th colspan="5" class = "celltab20"> N </th>
      <th colspan="5" class = "celltab30">Date</th>
      <th colspan="2" class = "celltab40">Cur- </br> rency</th>
      <!-- <th colspan="5" class = "celltab40">rate</th> -->
      <th colspan="5" class = "celltab100center"> Incoming  </br><% @cash_total_uah %></th>
      <th colspan="5" class = "celltab100center"> Total  </br> $ </br> <%= sprintf("%15.2f",@cash_total_usd) %></th>
      <th colspan="5" class = "celltab100center"> Account </br> item</th>
    </tr>
  </thead>

  <tbody>
    <% @cashes.each do |cash| %>
      <tr>
        <% @style_color = mess_and_style(cash.sum_curry, cash.sum_usd, cash.cash_date) %>
        <td colspan="5" class = "celltab20"> <%= cash.id %></td>
        <td colspan="5" class = "celltab30"> <%= cash.cash_date.strftime("%d.%m.%y") %></td>
        <td colspan="2" class = "celltab40"> <%= cash.currency.curry_code %> </td>
        <!--<td colspan="5" class = "celltab40"> <%# cash.ratecurry.rate %>  </td>-->

        <td colspan="5" class = "celltab100center"><%= cash.sum_curry %></td>
        <td colspan="5" class = "celltab100center" style = '<%= @style_color %>'><%= cash.sum_usd %></td>
        <td colspan="5" class = "celltab100center"><%= cash.account.account %></td>
 
        <td><%= link_to 'Show', cash %></td>
        <td><%= link_to 'Edit', edit_cash_path(cash) %></td>
        <td><%= link_to 'Destroy', cash, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cash', new_cash_path %>
<br>
<%= link_to ' OUTGOING EXPENSES ', inventories_path %>
<br>
<%= link_to 'Back to Startpage', :root  %>

