<p id="notice"><%= notice %></p>

<h1>Equipment Models</h1>

<table>
  <thead>
    <tr>
     <th colspan="2" class = "celltab40center">N</th>
     <th colspan="5" class = "celltab100left">Name</th>
     <th colspan="5" class = "celltab100left">Brand</th>
      <th colspan="3"></th>
    </tr>
  </thead>


  <tbody>
    <% @equipmentmodels.each do |equipmentmodel| %>
      <tr>
        <td colspan="2" class = "celltab40center"><%= equipmentmodel.id %></td>
        <td colspan="5" class = "celltab100left"> <%= equipmentmodel.name %></td>
        <td colspan="5" class = "celltab100left"> <%= equipmentmodel.brand.name %></td>
        <td colspan="5" class = "s_e_d"><%= link_to 'Show', equipmentmodel %></td>
        <td colspan="5" class = "s_e_d"><%= link_to 'Edit', edit_equipmentmodel_path(equipmentmodel) %></td>
        <td colspan="5" class = "s_e_d"><%= link_to 'Destroy', equipmentmodel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Equipment Model', new_equipmentmodel_path %>
<br>
<%= link_to ' OUTGOING EXPENSES ', inventories_path %>
<br>
<%= link_to 'Back to Startpage', :root  %>

