<p id="notice"><%= notice %></p>

<p>
  <strong>N:</strong>
  <%= @equipmentmodel.id %>
</p>
<p>
  <strong>Model:</strong>
  <%= @equipmentmodel.name %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @equipmentmodel.brand.name %>
</p>

<%= link_to 'Edit', edit_equipmentmodel_path(@equipmentmodel) %> |
<%= link_to 'Back', equipmentmodels_path %>
