<p id="notice"><%= notice %></p>

<h1>Budget Items</h1>

<table>
  <thead>
    <tr>
      <th>name</th>
      <th>codeitem</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @budgetitems.each do |budgetitem| %>
      <tr>
        <td><%= budgetitem.name %></td>
        <td><%= budgetitem.codeitem %></td>
        <td><%= link_to 'Show', budgetitem %></td>
        <td><%= link_to 'Edit', edit_budgetitem_path(budgetitem) %></td>
        <td><%= link_to 'Destroy', budgetitem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Budgetitem', new_budgetitem_path %>
<%= link_to 'Back to Startpage', :root  %>
