<p id="notice"><%= notice %></p>

<p>
  <strong>name:</strong>
  <%= @budgetitem.name %>
</p>

<p>
  <strong>codeitem:</strong>
  <%= @budgetitem.codeitem %>
</p>

<%= link_to 'Edit', edit_budgetitem_path(@budgetitem) %> |
<%= link_to 'Back', budgetitems_path %>
