<%= form_for(inventory) do |f| %>
  <% if inventory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(inventory.errors.count, "error") %> prohibited this inventory from being saved:</h2>

      <ul>
      <% inventory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
     Date: 
   <% if  @inventory.date_investment.nil? %>
       <% @inventory.date_investment =  Date.today %>
    <% end %>
    <%= f.date_select :date_investment , :value => @inventory.date_investment.strftime("%d.%m.%Y")  %>
  </div>

  <div class="field">
    <% f.label :quantity %>  
    Quantty:
    <%= f.text_field :quantity %>
  </div>

    <div class="field">
      Unit:
      <%=     collection_select :inventory, :unit_id, Unit.all, :id, :name,  prompt: false %>
    </div>


    <div class="field">
    <% f.label :budgetitem_id %>
    Budget Item:
    <%=     collection_select :inventory, :budgetitem_id, Budgetitem.all, :id, :name,  prompt: false %>
  </div>
  
  <div class="field">
    <%f.label :description_id %>
    Description:
    <%=     collection_select :inventory, :description_id, Description.all, :id, :name,  prompt: false %>
 
  </div>

  <div class="field">
    <% f.label :brand_id %>
    Brand:
   <%=     collection_select :inventory, :brand_id, Brand.all, :id, :name,  prompt: false %>
   </div>

  <div class="field">
    <% f.label :serial_number %>
    Serial number:
    <%= f.text_field :serial_number %>
  </div>

  <div class="field">
    Supplier:
   <%=     collection_select :inventory, :supplier_id, Supplier.all, :id, :name,  prompt: false %>
  </div>
    <div class="field">
     Unit price (uah):
      <%= f.text_field :price_curry %>
    </div>



<!--
    <div class="field">
      Sum (uah):
      <%= f.text_field :sum_curry %>
    </div>
    <div class="field">
      Currency:
      <%=     collection_select :inventory, :currency_id, Currency.all, :id, :name,  prompt: false %>
    </div>

    <div class="field">
      Rate:
      <%=     collection_select :inventory, :ratecurry_id, Ratecurry.all, :id, :rate,  prompt: false %>
    </div>
-->
   <div class="field">
    Unit price (usd):
    <%= f.text_field :price_usd %>
   </div>

  <!--<div class="field">
    Sum (usd):
    <%= f.text_field :sum_usd %>
  </div> -->


  <div class="field">
    Use Type :
  <%=     collection_select :inventory, :usingtype_id, Usingtype.all, :id, :name,  prompt: false %>
  </div>
 
  <div class="actions">

    <%= f.submit %>
  </div>

<% end %>
    