<%= form_for(inventory) do |f| %>
  <% if inventory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(inventory.errors.count, "error") %> prohibited this inventory from being saved:</h2>

      <ul>
      <% inventory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
     Date: 
   <% if not @inventory.date_investment.nil? %>
    <%= f.date_field :date_investment , :value => @inventory.date_investment.strftime("%d.%m.%Y")  %>
    <% else %>
    <%= f.date_field :date_investment %>
    <% end %>
  </div>

  <div class="field">
    <% f.label :quantity %>  
    quantty: 
    <%= f.text_field :quantity %>
  </div>

  <div class="field">
    <% f.label :budgetitem_id %>
    Budget Item:
    <!-- <%= f.text_field :budgetitem_id %> -->
    <%=     collection_select :inventory, :budgetitem_id, Budgetitem.all, :id, :name,  prompt: false %>
  </div>
  
  <div class="field">
    <%f.label :description_id %>
    Description:
 <!--   <%= f.text_field :description_id %> -->
    <%=     collection_select :inventory, :description_id, Description.all, :id, :name,  prompt: false %>
 
  </div>

  <div class="field">
    <% f.label :brand_id %>
    Brand:
  <!--    <%= f.text_field :brand_id %> -->
   <%=     collection_select :inventory, :brand_id, Brand.all, :id, :name,  prompt: false %>
   </div>

  <div class="field">
    <% f.label :serial_number %>
    Serial number:
    <%= f.text_field :serial_number %>
  </div>

  <div class="field">
    <% f.label :supplier_id %>
    Supplier:
   <!-- <%= f.text_field :supplier_id %> -->
   <%=     collection_select :inventory, :supplier_id, Supplier.all, :id, :name,  prompt: false %>
  </div>


  <div class="field">
    Price (usd): <% f.label :price_usd %>
    <%= f.text_field :price_usd %>
  </div>

  <div class="field">
    Sum (usd): <% f.label :sum_usd %>
    <%= f.text_field :sum_usd %>
  </div>


  <div class="field">
    Price (uah): <% f.label :price_curry %>
    <%= f.text_field :price_curry %>
  </div>

  <div class="field">
    Sum (uah): <% f.label :sum_curry %>
    <%= f.text_field :sum_curry %>
  </div>


 <!-- <div class="field">
     <% f.label :ratecurry_id %>
     Rate:
    <%=     collection_select :inventory, :ratecurry_id, Ratecurry.all, :id, :rate,  prompt: false %>
  </div>

  <div class="field">
     Currency: <% f.label :currency_id %>
  <%=     collection_select :inventory, :currency_id, Currency.all, :id, :name,  prompt: false %>
  </div>  -->


  <div class="field">
    Unit: <% f.label :unit_id %>
   <!-- <%= f.number_field :unit_id %> -->
  <%=     collection_select :inventory, :unit_id, Unit.all, :id, :name,  prompt: false %>
  </div>

  <div class="field">
    Use Type : <% f.label :unit_id %>
  <%=     collection_select :inventory, :usingtype_id, Usingtype.all, :id, :name,  prompt: false %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
    