<%= form_for(inventory) do |f| %>
  <% if inventory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(inventory.errors.count, "error") %> prohibited this inventory from being saved:</h2>

      <ul>
      <% inventory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Quantity %>
    <%= f.text_field :Quantity %>
  </div>

  <div class="field">
    <%= f.label :budgetsitems_id %>
    <%= f.text_field :budgetsitems_id %>
  </div>

  <div class="field">
    <%= f.label :descriptions_id %>
    <%= f.text_field :descriptions_id %>
  </div>

  <div class="field">
    <%= f.label :brands_id %>
    <%= f.text_field :brands_id %>
  </div>

  <div class="field">
    <%= f.label :SerialNumber %>
    <%= f.text_field :SerialNumber %>
  </div>

  <div class="field">
    <%= f.label :suppliers_id %>
    <%= f.text_field :suppliers_id %>
  </div>

  <div class="field">
    <%= f.label :PriceCurry %>
    <%= f.text_field :PriceCurry %>
  </div>

  <div class="field">
    <%= f.label :SumCurry %>
    <%= f.text_field :SumCurry %>
  </div>

  <div class="field">
    <%= f.label :PriceUsd %>
    <%= f.text_field :PriceUsd %>
  </div>

  <div class="field">
    <%= f.label :SumUsd %>
    <%= f.text_field :SumUsd %>
  </div>

  <div class="field">
    <%= f.label :ratecurries_id %>
    <%= f.text_field :ratecurries_id %>
  </div>

  <div class="field">
    <%= f.label :currency_id %>
    <%= f.text_field :currency_id %>
  </div>

  <div class="field">
    <%= f.label :units_id %>
    <%= f.number_field :units_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
