  <p id="notice"><%= notice %></p>
<h1  class = "lightseagreen" >INVENTORY</h1><br>
<br>
<table>
  <thead>
    <tr>
      <th colspan="5" class = "celltab20"> N </th>
      <th colspan="5" class = "celltab30">Stock</th>
      <th colspan="5" class = "celltab30">Date</th>
      <th colspan="2" class = "celltab40">Quantity</th>
      <th colspan="5" class = "celltab40">Unit</th>
      <th colspan="5" class = "celltab100center">Budget</br> Item</th>
      <th colspan="5" class = "celltab100center">Description</th>
      <th colspan="5" class = "celltab100center">Brand</th>
      <th colspan="5" class = "celltab100center">Serial Numer</th>
      <th colspan="5" class = "celltab100center">Suppliers</th>
      <th colspan="5" class = "celltab50">Price </br>$</th>
      <th colspan="5" class = "celltab100center">Total $ </br> <%= @total_usd %></th>
      <th colspan="5" class = "celltab50">Price (uah)</th>
      <th colspan="5" class = "celltab100center">Total (uah)</br><%= @total_uah %></th>
      <th colspan="5" class = "celltab30">Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @inventories.each do |inventory| %>
    <% inventory_color(inventory.usingtype_id) %>
      <tr>
        <td colspan="5" class = "celltab20"> <%= inventory.id %></td>
        <td colspan="5" class = " <%= @color %> " ><%= inventory.stock.name %> </td>
        <td colspan="5" class = " <%= @color %> " ><%= inventory.date_investment.strftime("%d.%m.%y") %></td>        
        <td colspan="2" class = " <%= @color %> " ><%= inventory.quantity %></td>
        <td colspan="5" class = " <%= @color %> " ><%= inventory.unit.name %> </td>
        <td colspan="5" class = " <%= @color %> " ><%= inventory.budgetitem.name %></td>
        <td colspan="5" class = " <%= @color %> " ><%= inventory.description.name %></td>
        <td colspan="5" class = " <%= @color %> " ><%= inventory.brand.name %></td>
        <td colspan="5" class = " <%= @color %> " ><%= inventory.serial_number %></td>
        <td colspan="5" class = " <%= @color %> " ><%= inventory.supplier.name %></td>
        <td colspan="5" class = "celltab100right lightseagreen"><%= inventory.price_usd %></td>
        <td colspan="5" class = "celltab100right lightseagreen"><%= inventory.sum_usd %></td>
        <td colspan="5" class = "celltab100right skyblue"><%= inventory.price_curry %></td>
        <td colspan="5" class = "celltab100right skyblue"><%= inventory.sum_curry %></td>
        <td colspan="5" class = " <%= @color %> " ><%= inventory.usingtype.name %> </td>

        <td colspan="5" class = "s_e_d"><%= link_to 'Show', inventory %></td>
        <td colspan="5" class = "s_e_d"><%= link_to 'Edit', edit_inventory_path(inventory) %></td>
        <td colspan="5" class = "s_e_d"><%= link_to 'Destroy', inventory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inventory', new_inventory_path %><br>
<%= link_to 'Back to Startpage', :root  %>

