<p id="notice"><%= notice %></p>

<h1>Inventories</h1>

<table>
  <thead>
    <tr>
      <th> N </th>
      <th>Date</th>
      <th>Quantity</th>
      <th>B/Item</th>
      <th>Description</th>
      <th>Brand</th>
      <th>Serial Numer</th>
      <th>Suppliers</th>
      <th>Price (USD)</th>
      <th>Sum   (USD)</th>
      <th>Price (UAH)</th>
      <th>Sum   (UAH)</th>
     <!-- <th>Rate   </th>
      <th>Currency</th> -->
      <th>Unit</th>
      <th>Using</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inventories.each do |inventory| %>
      <tr>
        <td><%= inventory.id %></td>
        <td><%= inventory.date_investment.strftime("%d.%m.%Y") %></td>
        <td><%= inventory.quantity %></td>
        <td><%= inventory.budgetitem.name %></td>
        <td><%= inventory.description.name %></td>
        <td><%= inventory.brand.name %></td>
        <td><%= inventory.serial_number %></td>
        <td><%= inventory.supplier.name %></td>
        <td><%= inventory.price_usd %></td>
        <td><%= inventory.sum_usd %></td>
        <td><%= inventory.price_curry %></td>
        <td><%= inventory.sum_curry %></td>
     <!--   <td><%= inventory.ratecurry.rate %></td>
        <td><%= inventory.currency.name %></td>-->
        <td><%= inventory.unit.name %> </td>
        <td><%= inventory.usingtype.name %> </td>
        <td><%= link_to 'Show', inventory %></td>
        <td><%= link_to 'Edit', edit_inventory_path(inventory) %></td>
        <td><%= link_to 'Destroy', inventory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inventory', new_inventory_path %>
