<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @inventory.id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @inventory.date_investment.strftime("%d.%m.%Y") %>
</p>
<p>
  <strong>quantity:</strong>
  <%= @inventory.quantity %>
</p>

<p>
  <strong>Budgetsitems:</strong>
  <%= @inventory.budgetitem.name %>
</p>

<p>
  <strong>Descriptions:</strong>
  <%= @inventory.description.name %>
</p>

<p>
  <strong>Brands:</strong>
  <%= @inventory.brand.name %>
</p>

<p>
  <strong>Serial number:</strong>
  <%= @inventory.serial_number %>
</p>

<p>
  <strong>Suppliers:</strong>
  <%= @inventory.supplier.name %>
</p>

<p>
  <strong>Unit price(cur-cy):</strong>
  <%= @inventory.price_curry %>
</p>


<p>
  <strong>Sum (cur-cy):</strong>
  <%= @inventory.sum_curry %>
</p>


<!--
<p>
  <strong>Currencies:</strong>
  <%= @inventory.currency.name %>
</p>

<p>
  <strong>Ratecurries:</strong>
  <%= @inventory.ratecurry.rate %>
</p>
-->

<p>
  <strong>Unit price(usd):</strong>
  <%= @inventory.price_usd %>
</p>

<p>
  <strong>sum_usd:</strong>
  <%= @inventory.sum_usd %>
</p>

<p>
  <strong>Units:</strong>
  <%= @inventory.unit.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @inventory.usingtype.name %>
</p>

<p>
  <strong>Message :</strong>
  <%= @message %>
</p>

<%= link_to 'Edit', edit_inventory_path(@inventory) %> |
<%= link_to 'Back', inventories_path %>
