<h4> user: <%= @user_name %> </h4>
<h1>
	<a style = "color: navy; background-color: aqua" > Sewing Factory </a>
</h1>

<br>
<% @all_incoming =  calc_cash_total_usd       %> 
<% @all_investment = calc_inventory_total_usd %>
<a style="font-family: Arial; font-size: 10px;"><%= link_to 'INCOMING CASH :',  'cashes'  %>     ( total $ <%= sprintf("%15.2f",@all_incoming)%>    ) </a> <br>
<a style="font-family: Arial; font-size: 10px;"><%= link_to 'INVENTORY     :',  'inventories' %> ( total $ <%= sprintf("%15.2f",@all_investment) %> )  </a>

<% @balance = @all_incoming - @all_investment %>
<% @clr_cond = color_by_condition(@balance)   %><br>
<%# @clr_cond %> 
<a style="color: aqua; background-color: navy ">   Balance: </a> <a style =" <%= @clr_cond %> "> <%= @balance.to_s %>  </a>
<br>
<br>
<%= link_to 'Model Price','modelprices'  %> <br>
<%= link_to 'Model Set',  'modelsets'  %> <br>

<p>=================   HAND BOOK    ============================ </p><br>

<%= link_to 'Brands',  'brands'  %> <br>
<%= link_to 'Budget Items',  'budgetitems'  %> <br>
<%= link_to 'Currency',  'currencies'  %> <br>
<%= link_to 'Currency Rates',  'ratecurries'  %> <br>
<%= link_to 'Categories',  'categories'  %> <br>
<%= link_to 'Descriptions ','descriptions'  %> <br>
<%= link_to 'Products',  'products'  %> <br>
<%= link_to 'Suppliers',  'suppliers'  %> <br>
<%= link_to 'Type of using object',  'usingtypes'  %> <br>
<%= link_to 'Units',  'units'  %> <br>
