<h4> user: <%= @user_name %> </h4>
<h1>
	<a style = "color: navy; background-color: aqua" > Sewing Factory </a>
</h1>

<table>
	<thead>
		<tr>
			<th style = 'width:200.0pt;'>
			</th>
			<th style = 'width:70.0pt;'>
			</th>
			<th style = 'width:100.0pt;'>
			</th>
			<th style = 'width:100.0pt;'>
			</th>
			
		</tr>
	</thead>
<tr >	
<th  style = "text-align:right;">	
	<%= link_to 'INCOMING     CASH :',  'cashes'  %>  
</th>
<th  style = "text-align:center;">
	      <%= sprintf("%15.2f",@all_incoming)%>    
</th>
<th >	
	<a  style = "color: yellow; background-color: red; font-weight: bolder; "> <%= @message_calc_usd_incoming_correctly %> </a>  
</th>
</tr>
<tr>
<th  style = "text-align:right;">	
<%= link_to 'OUTGOING EXPENSES : ',  'inventories' %> 
</th>
<th >	
	    <%= sprintf("%15.2f",@all_investment) %> 
</th>

<th class = "celltab100left">	
	<a  style = "color: yellow; background-color: red; font-weight: bolder; "> <%= @message_calc_usd_invest_correctly %> </a>  
</th>

<tr><% @balance = @all_incoming - @all_investment %>
<% @clr_cond = color_by_condition(@balance)   %>
<th style = "color: aqua; background-color: navy;  text-align:right; border:solid black 1.0pt;">	
	   BALANCE : 
</th>
<th style =" <%= @clr_cond %> ">	
	 <%= sprintf("%15.2f",@balance) %>  
</th>

<br>
<br>
</tr>
<%# link_to 'Model Price','modelprices'  %> <br>
<%# link_to 'Model Set',  'modelsets'  %> <br>
<tr  style = "text-align:left;">
<th><p style = "text-align:right;">========   HAND BOOK    ========= </p>
<ul>
<li><%= link_to 'Accounts',  'accounts'  %> </li>
<li><%= link_to 'Currency',  'currencies'  %></li> 
<li><%= link_to 'Currency Rates',  'ratecurries'  %> </li>
<br>
<li><%= link_to 'Type Budget Item',  'usingtypes'  %> </li>
<li><%= link_to 'Budget Items',  'budgetitems'  %> </li>
<br>

<li><%= link_to 'Brands',  'brands'  %> </li>
<li><%= link_to 'Equipment Models',  'equipmentmodels'  %> </li>
<br>
<li><%= link_to 'Employees',  'employees'  %> </li>
<li><%= link_to 'Categories for Description',  'categories'  %> </li>
<li><%= link_to 'Descriptions ','descriptions'  %></li>
<li><%= link_to 'Positions',  'positions'  %> </li>
<li><%= link_to 'Products',   'products'  %> </li>
<li><%= link_to 'Suppliers',  'suppliers'  %> </li>
<li><%= link_to 'Stocks',  'stocks'  %> </li>
<li><%= link_to 'Units',  'units'  %> </li>
</ul>
</th>

</tr>
</table>