<h1>Sewing Factory</h1>

<br>
<%= link_to 'INVENTORY',  'inventories'  %> <br><br>
<%= link_to 'Model Price','modelprices'  %> <br>
<%= link_to 'Model Set',  'modelsets'  %> <br>

<p>=================   HAND BOOK    ============================ </p><br>

<%= link_to 'Brands',  'brands'  %> <br>
<%= link_to 'Budget Items',  'budgetitems'  %> <br>
<%= link_to 'Currency',  'currencies'  %> <br>
<%= link_to 'Currency Rates',  'ratecurries'  %> <br>
<%= link_to 'Categories',  'categories'  %> <br>
<%= link_to 'Descriptions ','descriptions'  %> <br>
<%= link_to 'Products',  'products'  %> <br>
<%= link_to 'Suppliers',  'suppliers'  %> <br>
<%= link_to 'Type of using object',  'usingtypes'  %> <br>
<%= link_to 'Units',  'units'  %> <br>
