<%= form_for(modelset) do |f| %>
  <% if modelset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(modelset.errors.count, "error") %> prohibited this modelset from being saved:</h2>

      <ul>
      <% modelset.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Model Number :<% f.label :number_model %>
    <%= f.text_field :number_model %>
  </div>

  <div class="field">
    Model Date   : <% f.label :date_model %>
    <% if not @modelset.date_model.nil? %>
    <%= f.date_field :date_model , :value => @modelset.date_model.strftime("%d.%m.%Y")  %>
    <% else %>
    <%= f.date_field :date_model %>
    <% end %>
  </div>

  <div class="field">
    Product      :<% f.label :product_id %>
  <!--  <%= f.number_field :product_id %> -->
    <%=     collection_select :modelset, :product_id, Product.all, :id, :name,  prompt: false %>
  
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
