<p id="notice"><%= notice %></p>

<h1>Model Sets</h1>

<table>
  <thead>
    <tr>
      <th colspan="5" class = "celltab100center">Number model</th>
      <th colspan="5" class = "celltab50">Date </th>
      <th colspan="5" class = "celltab100center">Product</th>
      <th colspan="15"></th>
    </tr>
  </thead>

  <tbody>
    <% @modelsets.each do |modelset| %>
      <tr>
        <td colspan="5" class = "celltab100center"><%= modelset.number_model %></td>
        <td colspan="5" class = "celltab50"><%= modelset.date_model.strftime("%d.%m.%y")  %></td>
        <td colspan="5" class = "celltab100center"><%= modelset.product.name %></td>
        <td colspan="5" class = "s_e_d"><%= link_to 'Show', modelset %></td>
        <td colspan="5" class = "s_e_d" ><%= link_to 'Edit', edit_modelset_path(modelset) %></td>
        <td colspan="5"  class = "s_e_d"><%= link_to 'Destroy', modelset, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Modelset', new_modelset_path %><br>
<%= link_to ' OUTGOING EXPENSES ', inventories_path %>
<br>
<%= link_to 'Back to Startpage', :root  %>

