<p id="notice"><%= notice %></p>

<h1>Modelsets</h1>

<table>
  <thead>
    <tr>
      <th>Modelnumber</th>
      <th>Dt</th>
      <th>Product</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @modelsets.each do |modelset| %>
      <tr>
        <td><%= modelset.ModelNumber %></td>
        <td><%= modelset.Dt %></td>
        <td><%= modelset.Product_id %></td>
        <td><%= link_to 'Show', modelset %></td>
        <td><%= link_to 'Edit', edit_modelset_path(modelset) %></td>
        <td><%= link_to 'Destroy', modelset, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Modelset', new_modelset_path %>
