<p id="notice"><%= notice %></p>

<h1>Model Sets</h1>

<table>
  <thead>
    <tr>
      <th>Number model</th>
      <th>Date </th>
      <th>Product</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @modelsets.each do |modelset| %>
      <tr>
        <td><%= modelset.number_model %></td>
        <td><%= modelset.date_model.strftime("%d.%m.%y")  %></td>
        <td><%= modelset.product.name %></td>
        <td><%= link_to 'Show', modelset %></td>
        <td><%= link_to 'Edit', edit_modelset_path(modelset) %></td>
        <td><%= link_to 'Destroy', modelset, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Modelset', new_modelset_path %>
