<p id="notice"><%= notice %></p>

<p>
  <strong>number_model:</strong>
  <%= @modelset.number_model %>
</p>

<p>
  <strong>date_model:</strong>
  <%= @modelset.date_model %>
</p>

<p>
  <strong>Product:</strong>
  <%= @modelset.product_id %>
</p>

<%= link_to 'Edit', edit_modelset_path(@modelset) %> |
<%= link_to 'Back', modelsets_path %>
