<%= form_for(modelprice) do |f| %>
  <% if modelprice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(modelprice.errors.count, "error") %> prohibited this modelprice from being saved:</h2>

      <ul>
      <% modelprice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :modelsets_id %>
    <%= f.text_field :modelsets_id %>
  </div>

  <div class="field">
    <%= f.label :category_id %>
    <%= f.text_field :category_id %>
  </div>

  <div class="field">
    <%= f.label :description_id %>
    <%= f.text_field :description_id %>
  </div>

  <div class="field">
    <%= f.label :Quantty %>
    <%= f.text_field :Quantty %>
  </div>

  <div class="field">
    <%= f.label :unit_id %>
    <%= f.text_field :unit_id %>
  </div>

  <div class="field">
    <%= f.label :UnitPrice %>
    <%= f.text_field :UnitPrice %>
  </div>

  <div class="field">
    <%= f.label :currency_id %>
    <%= f.text_field :currency_id %>
  </div>

  <div class="field">
    <%= f.label :ratecurry_id %>
    <%= f.text_field :ratecurry_id %>
  </div>

  <div class="field">
    <%= f.label :sum_curry %>
    <%= f.text_field :sum_curry %>
  </div>

  <div class="field">
    <%= f.label :sum_usd %>
    <%= f.text_field :sum_usd %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
