<p id="notice"><%= notice %></p>

<p>
  <strong>Modelsets:</strong>
  <%= @modelprice.modelset_id %>
</p>

<p>
  <strong>Categories:</strong>
  <%= @modelprice.category_id %>
</p>

<p>
  <strong>Descriptions:</strong>
  <%= @modelprice.description_id %>
</p>

<p>
  <strong>quantty:</strong>
  <%= @modelprice.quantty %>
</p>

<p>
  <strong>Units:</strong>
  <%= @modelprice.unit_id %>
</p>

<p>
  <strong>unit_price:</strong>
  <%= @modelprice.unit_price %>
</p>

<p>
  <strong>Currencies:</strong>
  <%= @modelprice.currency_id %>
</p>

<p>
  <strong>Ratecurries:</strong>
  <%= @modelprice.ratecurry_id %>
</p>

<p>
  <strong>sum_curry:</strong>
  <%= @modelprice.sum_curry %>
</p>

<p>
  <strong>sum_usd:</strong>
  <%= @modelprice.sum_usd %>
</p>

<%= link_to 'Edit', edit_modelprice_path(@modelprice) %> 
<%= link_to 'Back', modelprices_path %>
