<p id="notice"><%= notice %></p>

<p>
  <strong>Modelsets:</strong>
  <%= @modelprice.modelsets_id %>
</p>

<p>
  <strong>Categories:</strong>
  <%= @modelprice.categories_id %>
</p>

<p>
  <strong>Descriptions:</strong>
  <%= @modelprice.descriptions_id %>
</p>

<p>
  <strong>Quantty:</strong>
  <%= @modelprice.Quantty %>
</p>

<p>
  <strong>Units:</strong>
  <%= @modelprice.units_id %>
</p>

<p>
  <strong>Unitprice:</strong>
  <%= @modelprice.UnitPrice %>
</p>

<p>
  <strong>Currencies:</strong>
  <%= @modelprice.currency_id %>
</p>

<p>
  <strong>Ratecurries:</strong>
  <%= @modelprice.ratecurries_id %>
</p>

<p>
  <strong>Sumcurry:</strong>
  <%= @modelprice.SumCurry %>
</p>

<p>
  <strong>Sumusd:</strong>
  <%= @modelprice.SumUsd %>
</p>

<%= link_to 'Edit', edit_modelprice_path(@modelprice) %> |
<%= link_to 'Back', modelprices_path %>
