<p id="notice"><%= notice %></p>

<h1>Ratecurries</h1>

<table>
  <thead>
    <tr>
      <th>Currencies</th>
      <th>Rate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ratecurries.each do |ratecurry| %>
      <tr>
        <td><%= ratecurry.Currencies_id %></td>
        <td><%= ratecurry.rate %></td>
        <td><%= link_to 'Show', ratecurry %></td>
        <td><%= link_to 'Edit', edit_ratecurry_path(ratecurry) %></td>
        <td><%= link_to 'Destroy', ratecurry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ratecurry', new_ratecurry_path %>
