<p id="notice"><%= notice %></p>

<h1>Units</h1>

<table>
  <thead>
    <tr>
      <th colspan="5" class = "celltab30center">N</th>
      <th colspan="5" class = "celltab70center">name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @units.each do |unit| %>
      <tr>
        <td colspan="5" class = "celltab30left"><%= unit.id %></td>
        <td colspan="5" class = "celltab70left"><%= unit.name %></td>
        <td colspan="5" class = "s_e_d"><%= link_to 'Show', unit %></td>
        <td colspan="5" class = "s_e_d"><%= link_to 'Edit', edit_unit_path(unit) %></td>
        <td colspan="5" class = "s_e_d"><%= link_to 'Destroy', unit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Unit', new_unit_path %>
<br>
<%= link_to 'Back to Startpage', :root  %>

