<p id="notice"><%= notice %></p>

<h1>Categories</h1>

<table>
  <thead>
    <tr>
      <th colspan="5" class = "celltab30">id </th>
      <th colspan="5" class = "celltab100">Category </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td colspan="5" class = "celltab30"><%= category.id %></td>
        <td colspan="5" class = "celltab100left"><%= category.name %></td>
        <td colspan="5" class = "s_e_d"><%= link_to 'Show', category %></td>
        <td colspan="5" class = "s_e_d"><%= link_to 'Edit', edit_category_path(category) %></td>
        <td colspan="5" class = "s_e_d"><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category', new_category_path %><br>
<%= link_to 'Back to Startpage', :root  %>
